.body {
  color: white;
  background-color: rgba(2, 2, 38, 0.914);
  margin: 0;
  padding: 0;
}

.hire {
  color: white;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  margin-left: 50px;
}

.cv {
  color: white;
  background: linear-gradient(281.25deg, #2957a3 31.79%, #c961de 98.74%);
  border: none;
  margin-left: 5px;
}

.round-1 {
  border-radius: 14.54px 14.54px 14.54px 14.54px;
  padding: 6px;
  width: 40%;
}

.size {
  width: 20%;
  height: 70px;
  left: 100%;
  margin-left: 200px;
}

.mr-certificate {
  margin-left: 100px;
  margin-bottom: 90px;
  width: 100px;
  border: none;
  padding: 2px;
}

#hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: fixed;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 20px;
  border: none;
}

.hidden {
  display: none;
}

.home {
  text-align: center;
  margin-top: 20%;
  margin-right: 100px;
}

.txt1 {
  font-size: 20px;
  font-family: sans-serif;
  text-align: justify;
  line-height: 0px;
  margin-left: 60px;
}

.colorw {
  color: white;
}

.small-circle {
  width: 95%;
  padding: 1px;
  margin-top: 300px;
  margin-left: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  height: auto;
}

.overlay-text {
  margin-top: 100px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(132.61deg, rgba(201, 97, 222, 0.8) 16.04%, rgba(41, 87, 163, 0.8) 84.51%);
  color: #fff;
  text-align: justify;
  height: 70%;
  width: 90%;
  border-radius: 50%;
  display: inline-block;
}

.size1 {
  width: 10%;
  height: 10%;
}

.x {
  color: white;
  border: none;
  background: linear-gradient(180deg, #763cac 0%, #301846 100%);
}

.navbar {
  color: white;
  display: block;
  width: 220px;
  border-radius: 25% 80% 10% 10%;
  padding: 40px;
  margin: 10px;
  list-style-type: none;
  height: 250px;
  background: linear-gradient(180deg, #763cac 0%, #301846 100%);
}

.sizenav {
  width: 25px;
  height: 20px;
  margin: 5px;
}

.colorb {
  color: rgba(0, 102, 255, 0.5);
}

.about1 {
  background: linear-gradient(180deg, rgba(48, 16, 128, 0.6) 0%, rgba(120, 64, 173, 0.36) 100%);
  border-radius: 50%;
  border: none;
  padding: 2%;
  color: white;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 60px;
}

.about2 {
  background: linear-gradient(180deg, rgba(48, 16, 128, 0.6) 0%, rgba(120, 64, 173, 0.36) 100%);
  border-radius: 50%;
  border: none;
  padding: 2%;
  color: white;
  margin-left: 50px;
  font-size: 15px;
  margin-top: 10px;
}

.about3 {
  background: linear-gradient(180deg, rgba(48, 16, 128, 0.6) 0%, rgba(120, 64, 173, 0.36) 100%);
  border-radius: 50%;
  border: none;
  padding: 2%;
  color: white;
  margin-left: 50px;
  font-size: 15px;
  margin-top: 10px;
}

.overlay-text1 {
  margin-top: 1px;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  text-align: center;
  height: 70%;
  width: 50%;
  border-radius: 50%;
  display: inline-block;
}

.circle {
  margin-top: 100px;
  position: absolute;
  top: 30%;
  left: 100%;
  bottom: 30%;
  transform: translate(-60%, -80%);
  background: radial-gradient(50% 50% at 24.63% 56.9%, #763cac 0%, rgba(50, 15, 133, 0) 100%);
  border-radius: 50%;
  padding: 100px;
}

.sizenav1 {
  width: 60px;
  height: 10px;
}

.work1 {
  background: radial-gradient(46.25% 45.19% at 50% 50%, #4652c0 0%, #080b3a 100%);
  margin-top: 20px;
  margin-right: 60px;
}

.work2 {
  text-align: center;
  margin-top: 80px;
}

.image-container2 {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-right: 35px;
  width: 100%;
  height: auto;
}

.overlay-text2 {
  margin-top: 60px;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  text-align: center;
  height: 70%;
  width: 90%;
  border-radius: 50%;
  display: inline-block;
}

.container1 {
  position: relative;
}

.ellipse2 {
  position: absolute;
  left: 1px;
  width: 25%;
}

.ellipse1 {
  width: 30%;
}

.image3 {
  position: fixed;
}

.container3 {
  display: flex;
}

.text {
  font-size: 10px;
  margin-left: 50px;
  justify-content: left;
  margin-top: 10px;
}

.padding1 {
  margin-top: 80px;
  margin-left: 60px;
  font-family: sans-serif;
  font-size: 10px;
}

#hide {
  display: none;
}

.card {
  background: linear-gradient(180deg, #763cac 0%, #301846 100%);
  display: inline-block;
  width: 25rem;
  height: 20rem;
  border-radius: 10%;
}

.card0 {
  width: 80%;
  margin-left: 40px;
}

.card2 {
  width: 80%;
  margin-left: 40px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 100px;
  color: #121111;
  text-align: center;
  border-radius: 15px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 33%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

/* screen size 786px */
@media only screen and (min-width: 768px) {
  .p {
    display: none;
  }

  .hide-ellipse-navbar {
    display: none;
  }

  .home {
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 100px 30px 30px 30px;
    margin-right: 1px;
    margin-left: 90px;
    background: rgba(47, 47, 138, 1);
    width: 1300px;
    height: 400px;
    margin-top: 40%;
  }

  .txt {
    margin-top: 7%;
    margin-left: 10%;
  }

  .txt1 {
    margin-left: 10%;
  }

  .size {
    display: none;
  }

  .sizenav {
    display: none;
  }

  .x {
    display: none;
  }

  .nav1 {
    display: flex;
  }

  .navbar {
    color: white;
    display: flex;
    flex-flow: row;
    height: 50px;
    background: none;
    position: fixed;
    margin-left: 300px;
  }

  a {
    padding: 15px;
  }

  .ellipse4 {
    position: fixed;
    left: 1px;
    width: 10%;
  }

  .ellipse3 {
    position: fixed;
    width: 10%;
    margin-top: 20px;
    margin-left: 50px;
  }

  .hire {
    padding: 10px;
  }

  .cv {
   padding: 10px;
   margin-right: 900px;
  }

  .round-1 {
    border-radius: 14.54px 14.54px 14.54px 14.54px;
    padding: 6px;
    width: 10%;
  }

  .row {
    background: rgba(47, 47, 138, 1);
    border-radius: 100px 30px 30px 30px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-left: 80px;
    margin-top: 50px;
    height: 400px;
  }
 
  #abbout {
    position: absolute;
    justify-content: center;
    align-items: center;
  }

  .circle {
    display: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    height: auto;
  }

  .overlay-text {
    margin-top: 50px;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    background: linear-gradient(132.61deg, rgba(201, 97, 222, 0.8) 16.04%, rgba(41, 87, 163, 0.8) 84.51%);
    color: #fff;
    text-align: justify;
    height: 70%;
    width: 75%;
    border-radius: 50%;
    display: inline-block;
  }

  .padding1 {
    margin-top: 30px;
    margin-right: 120px;
    font-family: sans-serif;
    font-size: 10px;
  }

  .overlay-text1 {
    position: absolute;
    top: 1%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 50%;
    width: 200%;
    border-radius: 50%;
    display: inline-block;
  }

  .image-container2 {
    margin-top: 50px;
    position: relative;
    display: inline-block;
    width: 80%;
    height: auto;
  }

  .sizenav1 {
    height: 10px;
    margin-left: 30%;
  }

  #hide {
    display: inline;
    margin-top: 1px;
  }

  .small-circle {
    width: 70%;
    padding: 1px;
    margin-top: 200px;
  }

  .x1 {
    display: block;
    color: white;
    border: none;
    background: linear-gradient(180deg, #763cac 0%, #301846 100%);
  }

  .navbar1 {
    color: white;
    display: block;
    width: 220px;
    border-radius: 25% 80% 10% 10%;
    padding: 40px;
    margin: 10px;
    list-style-type: none;
    height: 250px;
    background: linear-gradient(180deg, #763cac 0%, #301846 100%);
  }

  .about1 {
    background: linear-gradient(180deg, rgba(48, 16, 128, 0.6) 0%, rgba(120, 64, 173, 0.36) 100%);
    border-radius: 50%;
    border: none;
    padding: 3%;
    color: white;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .about2 {
    background: linear-gradient(180deg, rgba(48, 16, 128, 0.6) 0%, rgba(120, 64, 173, 0.36) 100%);
    border-radius: 50%;
    border: none;
    padding: 3%;
    color: white;
    margin-left: 100px;
    font-size: 15px;
    margin-top: 1px;
  }
  
  .about3 {
    background: linear-gradient(180deg, rgba(48, 16, 128, 0.6) 0%, rgba(120, 64, 173, 0.36) 100%);
    border-radius: 50%;
    border: none;
    padding: 3%;
    color: white;
    margin-left: 150px;
    font-size: 15px;
    margin-top: 10px;
  }

  .card {
    background: linear-gradient(180deg, #763CAC 0%, #301846 100%);
    display: inline-block;
    width: 25rem;
    height: 25rem;
    border-radius: 10%;
    margin-right: 60%;
  }
  
  .card0 {
   width: 80%;
   height: 30%;
   margin-left: 10px;
  }
  
  .card2 {
    width: 80%;
    margin-left: 50px;
  }
}

/* 1024px screen size */
@media screen and (min-width: 1440px) {
  .home {
    position: justify;
     justify-content: center;
     align-items: center; 
     border-radius: 100px 30px 30px 30px;
     margin-right: 1px;
     margin-left: 90px; 
     background: rgba(47, 47, 138, 1);
     width: 1300px;
     height: 500px;
     margin-top: 20%;
   }

   .navbar {
    color: white;
    display: flex;
    flex-flow: row;
    height: 50px;
    background: none;
    position: fixed;
    margin-left: 500px;
  }

  .row {
    background: rgba(47, 47, 138, 1);
    border-radius: 100px 30px 30px 30px;
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    margin-left: 80px;
    margin-top: 50px;
    height: 400px;
  }

  .overlay-text {
    margin-top: 50px;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    background: linear-gradient(132.61deg, rgba(201, 97, 222, 0.8) 16.04%, rgba(41, 87, 163, 0.8) 84.51%);
    color: #fff;
    text-align: justify;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    display: inline-block;
  }

  .image-container2 {
    margin-top: 70px;
    position: relative;
    display: inline-block;
    width: 80%;
    height: auto;
  }
}
